

#message{
			
			
			font-size:18px;
			text-align:center-left;
			word-wrap:break-word;
			
			color:#85929E;
			font-family:Georgia;
		}
		
		
#topic{
			
			font-family:Lucida Console;
			font-size:30px;
			color:#34495E;
		}
		
		
		
		

